# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
